* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { 
	background: rgb(249, 248, 244); 
}

body {
	font-family: helvetica, arial, sans-serif;
	
}

h1 {
	text-align:center; 
	font-size: 80px;
	position: relative;
}