/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
	display:block;
}

nav ul {
	border-top: 1px solid;
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* END RESET */


body { 
	background: rgb(39, 40, 34);
	font-family: Georgia, "Times New Roman", Times, serif;	                     
}




h1 {
	text-align:center; 
	font-size: 80px;
	position: relative;
	color: rgb(221, 57, 32);
}

h2 {
	text-align:center;
	font-size: 40px;  
	color: rgb(127, 255, 212);
	margin-bottom: 40px;
}

#items {
    float: right;
    width: 25%;
    background: #DD3920;
    padding: 0;
    margin: 0;
}

a {
	font-size: 20px;
	color: rgb(239, 90, 34);
}

a:hover {
	color: rgb(127, 255, 212);
}

p {
	display: none;
}


#items > li {
	padding: 10px;
	margin: 0 0 20px 0;
	list-style: none;
	overflow: hidden;
}

#items h2, #items .meta, #items .geo {
	float: left;
	clear: left;
	width: 75%;
} 


nav li a{
	display: block;
	border-bottom: 1px solid;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
	padding-left: 5px;
}

nav li a:hover {
	background: #a4a45e;
}

nav a {
	text-decoration: none;

}

#infscr-loading {
	margin-top: 20px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


